<div *ngIf="todo$ | async as todo" class="todo__card">
  <a class="btn btn--back mb-md" [routerLink]="['/todo-list']">
    <mat-icon>arrow_back</mat-icon>
    Back
  </a>

  <div class="todo__title">{{todo.title}}</div>
  <div class="todo__date mb-md">Created on: {{todo.createdOn | date}}</div>

  <div class="todo__card-content mb-md">
    <div>
      <div class="todo__flag-container mb-xs">
        <span>Status: </span>
        <span class="todo__todo-flag" *ngIf="todo.status as status">
          {{ todo.status }}
        </span>
      </div>

      <div class="todo__flag-container">
        <span>Type: </span>
        <span class="todo__todo-flag" *ngIf="todo.type as type">
          {{ todo.type }}
        </span>
      </div>
    </div>

    <p class="todo__description">{{ todo.description }}</p>
  </div>

  <div class="todo__actions">
    <a class="btn" type="submit" [routerLink]="['/todo-edit/'+todo.id]">
      <mat-icon>edit</mat-icon>Edit
    </a>
    <button
      class="btn"
      type="submit"
      (click)="handleDelete(todo.id)"
      [disabled]="isDeleting"
    >
      <mat-icon *ngIf="!isDeleting">delete</mat-icon>
      <mat-spinner *ngIf="isDeleting" [diameter]="15"></mat-spinner>
      {{ isDeleting ? 'Deleting' : 'Delete' }}
    </button>
  </div>
</div>
