@use "todo-module" as *;
@use "utilities" as *;

.todo {
  &__date {
    font-size: var(--mat-sys-body-medium-size);
    color: var(--mat-sys-on-surface-variant);
    width: fit-content;
    margin: 0 auto;
  }

  &__card-content {
    display: flex;
    gap: 2.4rem;
    & > *:first-child {
      max-width: 30%;
    }
    & > *:last-child {
      flex: 1;
    }
  }

  &__card-side-content {
    font-size: var(--mat-sys-body-large-size);
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
  }

  &__todo-flag {
    text-transform: uppercase;
    font-weight: 600;
  }
  &__assignedTo {
    display: block;
  }

  &__description {
    margin: 0;
  }

  &__actions {
    display: flex;
    justify-content: space-between;
  }
}
