@use "todo-module" as *;
@use "utilities" as *;

.todo {
  &__date {
    font: var(--mat-sys-body-medium);
    color: var(--mat-sys-on-surface-variant);
    width: fit-content;
    margin: 0 auto;
  }

  &__card-content {
    display: flex;
    gap: 24px;
    & > *:first-child {
      max-width: 30%;
    }
    & > *:last-child {
      flex: 1;
    }
  }

  &__flag-container {
    font: var(--mat-sys-body-large);
  }

  &__todo-flag {
    text-transform: uppercase;
    font-weight: 600;
  }

  &__description {
    margin: 0;
  }

  &__actions {
    display: flex;
    justify-content: space-between;
  }
}
