<div class="todo__card">
  <a class="btn btn--back" [routerLink]="['/todo-list']">
    <mat-icon>arrow_back</mat-icon>
    Back
  </a>
  <form class="todo__form" [formGroup]="createTodoForm" (ngSubmit)="onSubmit()">
    <span class="todo__title mb-md">Create new todo</span>
    <mat-form-field class="todo__form-input-field todo__inputfield-title">
      <mat-label>Title</mat-label>
      <input matInput type="text" formControlName="title" />
      <mat-error *ngIf="title?.invalid && (title?.dirty || title?.touched)">
        <span *ngIf="title?.errors?.['required']">Title is required.</span>
        <span *ngIf="title?.errors?.['minlength']">
          Title must be at least 3 characters.
        </span>
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Status</mat-label>
      <mat-select formControlName="status">
        <mat-option value="Todo">Todo</mat-option>
        <mat-option value="In progress">In progress</mat-option>
        <mat-option value="Done">Done</mat-option>
      </mat-select>
      <mat-error *ngIf="status?.invalid && (status?.dirty || status?.touched)">
        <span *ngIf="status?.errors?.['required']">Status is required.</span>
      </mat-error>
    </mat-form-field>

    <mat-form-field *ngIf="userVm$ | async as userVm">
      <mat-label>Assigned to</mat-label>
      <mat-select formControlName="assignedTo">
        <mat-option value="unassigned">Unassigned</mat-option>
        <mat-option *ngIf="userVm.isLoading" disabled>
          <div class="todo__form-option-with-spinner">
            <mat-spinner [diameter]="15"></mat-spinner>Loading users
          </div>
        </mat-option>
        <ng-container *ngIf="!userVm.isLoading && !userVm.hasError">
          <mat-option *ngFor="let user of userVm.users" [value]="user.id">
            {{ user.firstName }} {{ user.lastName }} ({{user.username}})
          </mat-option>
        </ng-container>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Type</mat-label>
      <mat-select formControlName="type">
        <mat-option value="Feature">Feature</mat-option>
        <mat-option value="Bug">Bug</mat-option>
        <mat-option value="Story">Story</mat-option>
        <mat-option value="Other">Other</mat-option>
      </mat-select>
      <mat-error *ngIf="type?.invalid && (type?.dirty || type?.touched)">
        <span *ngIf="type?.errors?.['required']">Type is required.</span>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="todo__description">
      <mat-label>Description</mat-label>
      <textarea matInput formControlName="description"></textarea>
      <mat-error
        *ngIf="description?.invalid && (description?.dirty || description?.touched)"
      >
        <span *ngIf="description?.errors?.['required']"
          >Description is required.</span
        >
        <span *ngIf="description?.errors?.['minlength']">
          Description must be at least 10 characters.
        </span>
      </mat-error>
    </mat-form-field>
    <button
      class="btn btn--submit"
      type="submit"
      [disabled]="createTodoForm.invalid || isSubmitting"
    >
      <mat-icon *ngIf="!isSubmitting">add</mat-icon>
      <mat-spinner *ngIf="isSubmitting" [diameter]="15"></mat-spinner>
      {{ isSubmitting ? 'Creating' : 'Create' }}
    </button>
  </form>
</div>
