@use "todo-module" as *;
@use "utilities" as *;

.todo {
  &__select-group {
    display: flex;
    gap: 12px;
    & > * {
      flex: 1;
    }
  }

  &__actions {
    display: flex;
    justify-content: center;
    margin-top: -18px;
    margin-bottom: 12px;
  }
}
