@use "@angular/material" as mat;
@use "variables";
@use "components";

html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
  font: var(--mat-sys-body-medium);
  background-color: var(--mat-sys-background);
}

html {
  color-scheme: light;
  @include mat.theme(
    (
      color: mat.$rose-palette,
      typography: Work Sans,
    )
  );
}

// fff0e6
// e8dff2
// f2eef6
// ede9f3
// f5e9f7
