@use "todo-module";

.todo {
  &__list-container {
    max-width: 1200px;
    margin: 24px auto;
    padding: 0 24px;
  }

  &__add-btn {
    margin-bottom: 12px;
  }

  &__list-item {
    display: flex;
    > *:not(:last-child) {
      margin-right: 12px;
    }
    > *:last-child {
      margin-left: auto;
      display: flex;
      align-items: center;
      gap: 24px;
    }
    a {
      text-decoration: none;
      color: inherit;
      display: flex;
      align-items: center;
      gap: 8px;
    }
    &:hover .todo__delete-btn {
      opacity: 1;
      display: block;
    }
  }
  &__delete-btn {
    opacity: 0;
    display: none;
    transition: opacity 0.2s ease-in-out;

    &--deleting {
      opacity: 0.5;
      display: block;
    }
  }

  &__title {
    text-decoration: none;
  }
}
