<div class="todo__list-container">
  <a class="todo__add-btn" matButton="outlined" [routerLink]="['/todo-create']">
    <mat-icon>add</mat-icon>
    Add Todo
  </a>
  <mat-card>
    <mat-nav-list *ngIf="todos$ | async as todos">
      <ng-container *ngIf="todos.length > 0; else noTodosContent">
        <mat-list-item *ngFor="let todo of todos">
          <div class="todo__list-item">
            <a [routerLink]="['/todo-details', todo.id]">
              <span
                class="mat-caption todo__todo-flag"
                [ngClass]="'todo__todo-flag--' + todo.status.toLowerCase().replace(' ','')"
                >{{todo.status}}</span
              >
              <span
                class="mat-caption todo__todo-flag"
                [ngClass]="'todo__todo-flag--' + todo.type.toLowerCase()"
                >{{ todo.type }}</span
              >
              <span class="">{{ todo.title }}</span>
            </a>
            <div class="todo__list-right">
              <button
                class="todo__delete-btn"
                matButton="outlined"
                (click)="handleDelete(todo.id)"
                [disabled]="isDeletingIds.has(todo.id)"
                [ngClass]="{ 'todo__delete-btn--deleting': isDeletingIds.has(todo.id) }"
              >
                <span class="todo__button-content">
                  <mat-icon *ngIf="!isDeletingIds.has(todo.id)"
                    >delete</mat-icon
                  >
                  <mat-spinner
                    *ngIf="isDeletingIds.has(todo.id)"
                    [diameter]="15"
                    mode="indeterminate"
                  ></mat-spinner>
                  {{ isDeletingIds.has(todo.id) ? 'Deleting' : 'Delete' }}
                </span>
              </button>
              <span class="mat-caption todo__list-date"
                >{{ todo.createdOn | date }}</span
              >
            </div>
          </div>
        </mat-list-item>
      </ng-container>
      <ng-template #noTodosContent>
        <mat-card-content> Currently, there are no todos. </mat-card-content>
      </ng-template>
    </mat-nav-list>
  </mat-card>
</div>
