@use "utilities";
@use "mixins";

.btn--back {
  margin-left: auto;
}

// This is a workaround for the issue with the border radius and box shadow
// on input fields in Angular Material
:host
  ::ng-deep
  .mat-mdc-text-field-wrapper.mdc-text-field.mdc-text-field--filled {
  border-radius: 0;
  border: var(--border-regular);
  box-shadow: var(--border-shadow-regular);
  padding: 0 1.6rem;
  .mat-mdc-select-value {
    padding-bottom: 0.2rem;
  }
}

.todo {
  &__card {
    max-width: 60rem;
    margin: 4.8rem auto;
    padding: 1.2rem;
    color: var(--mat-sys-on-primary-container);
    background-color: var(--mat-sys-primary-container);
    border: var(--border-regular);
    box-shadow: var(--border-shadow-large);
  }

  &__title {
    font-size: var(--mat-sys-headline-medium-size);
    font-weight: 500;
    margin: 0 auto;
    width: fit-content;
  }

  &__form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.6rem;
    padding-bottom: 1.6rem;

    .todo__title,
    .todo__description,
    .todo__inputfield-title {
      grid-column: 1 / -1;
    }
  }

  &__form-option-with-spinner {
    display: flex;
    align-items: center;
    gap: 0.8rem;
  }

  &__description textarea {
    min-height: 15.6rem;
  }

  &__todo-flag {
    &--inprogress {
      background-color: var(--color-todo-status-inprogress);
    }
    &--done {
      background-color: var(--color-todo-status-done);
    }
    &--todo {
      background-color: var(--color-todo-status-todo);
    }
    &--feature {
      background-color: var(--color-todo-type-feature);
    }
    &--bug {
      background-color: var(--color-todo-type-bug);
    }
    &--story {
      background-color: var(--color-todo-type-story);
    }
    &--other {
      background-color: var(--color-todo-type-other);
    }
  }
}
