@use "utilities";

.btn--back {
  margin-left: auto;
}

// This is a workaround for the issue with the border radius and box shadow
// on input fields in Angular Material
:host
  ::ng-deep
  .mat-mdc-text-field-wrapper.mdc-text-field.mdc-text-field--filled {
  border-radius: 0;
  border: var(--border-regular);
  box-shadow: var(--border-shadow-regular);
}

.todo {
  &__card {
    max-width: 600px;
    margin: 48px auto;
    padding: 12px;
    color: var(--mat-sys-on-primary-container);
    background-color: var(--mat-sys-primary-container);
    border: var(--border-regular);
    box-shadow: var(--border-shadow-large);
  }

  &__title {
    font: var(--mat-sys-headline-medium);
    font-weight: 500;
    margin: 0 auto;
    width: fit-content;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__description textarea {
    min-height: 156px;
  }

  &__todo-flag {
    &--inprogress {
      background-color: var(--color-todo-status-inprogress);
    }
    &--done {
      background-color: var(--color-todo-status-done);
    }
    &--todo {
      background-color: var(--color-todo-status-todo);
    }
    &--feature {
      background-color: var(--color-todo-type-feature);
    }
    &--bug {
      background-color: var(--color-todo-type-bug);
    }
    &--story {
      background-color: var(--color-todo-type-story);
    }
    &--other {
      background-color: var(--color-todo-type-other);
    }
  }
}
