.todo {
  &__card {
    max-width: 600px;
    margin: 24px auto;
  }

  &__header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 8px;
    margin-bottom: 12px;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__description textarea {
    min-height: 156px;
  }

  &__button-content {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  &__todo-flag {
    border: 1px solid #ccc;
    padding: 0px 8px;
    border-radius: 100px;
    &--inprogress {
      background-color: #fff176;
    }
    &--done {
      background-color: #81c784;
    }
    &--todo {
      background-color: #ef9a9a;
    }
    &--feature {
      background-color: #90caf9;
    }
    &--bug {
      background-color: #e57373;
    }
    &--story {
      background-color: #ce93d8;
    }
    &--other {
      background-color: #e0e0e0;
    }
  }
}
